*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(245, 241, 231);


}
.navbar{
    width: 100%;
    background-color: white;
    color: black;
    position: fixed;
      
    height:5.5vh;
}
.navbar .logo{
 float: left;
}
.navbar ul{
    text-align: center;
    margin-top: 4px;
    margin-left: 5px;
    display: flex;
}
.navbar li{
    padding: 10px;
    list-style: none;
    
}
.navbar li a{
    color: black;
    text-decoration: none;
}
.navbar li a:hover{
    color: skyblue;
}
.links{
    float: left;
}
 .input{
    padding: 2px;
    margin-left: 85%;
 }
 .input input{
    border-radius: 5px;
    height: 43px;
    width: 250px;
 }
 .top{
    display: flex;
    padding: 10px;
    font-size: 25px;
    text-align: right;
    margin-left: 80%;
 }
 .input input::placeholder{
    color: black;
    font-size: 14px;
 }
 .footer{
    z-index: 1;
    padding-left: 100px;
        color: white;
        background-image: url(./earth.png);
        width: 100%;
        padding: 300px 100px;
 }
 .footer .links a{
    color: black;
    background-color: skyblue;
    padding: 30px;
    text-decoration: none;
 }
 .tag{
    background-color: rgb(196, 196, 196);
margin-top: -17.2%;
color: black;
width: 100%;
height: 40vh;
 }
 .tag .box{
    display: flex;
 }
 .tag .two input{
    border-radius: 1px;
    height: 43px;
    width: 290px;
    margin-top: 20%;
    margin-left: 400%;
 }
 .tag .one{
    margin-left: 2%;
    margin-top: 3%;
 }
 .tag .one i{
  background-color: white;
  padding: 10px;
  color:black;
  font-size: 20px;
 }
 .tag .one i:hover{
    background-color: white;
    padding: 10px;
    color:orangered;
    font-size: 20px;
   }
   .last{
    display: flex;
    margin-left: -60px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
   }
   .last i{
    padding: 10px;
    padding-left: 80px;
    display: flex;
   }
   .tag p{
    margin-left: 30px;  
   } 
   .footer div {
      
   }

   .box1{
      border: 1px solid rgb(67, 67, 67);
      margin-top: -27.3%;
      margin-left: 61.4%;
      width: 700px;
   }
   .boxhi{
     
      display: flex;
  }
  .boxi
  {
      display: flex;
  }
   .img1, .img2 {
      border: 3px solid rgb(67, 67, 67);
      width: 390px;
      height: 330px;
  }
  .img3, .img4{
      border: 3px solid rgb(67, 67, 67);
      width: 390px;
      height: 330px;
  }
  .img1:hover{
      transition: 10s;
      background-image: url(lenovo-pcs-tablets-hover.webp);
      background-size: cover;
  }
  .img2:hover{
      background-image: url(lenovo-phones-hover.webp);
      background-size: cover;

      
  }
  .img3:hover{
      background-image: url(lenovo-smart-devices-hover.webp);
      background-size: cover;

      
  }
  .img4:hover{
      background-image: url(lenovo-data-center-hover.webp);
      background-size: cover;

      
  }
